In [1]:
mov R0, #3
add R0, #3

In [2]:
__config__
memory:
    items:
        label1:
            type: word
            access: ro
            content: [1,2,3]

In [3]:
ldr r0, =label1
ldr r1, [r0, #4]